/**** ABOUT PAGE STYLES ***/

.homeSection {
	background-color: #ffe4b2;
}

.home {
	display: flex;
	background-color: rgba(212, 199, 181, 0.707);
}

/* *******ABOUT Component STYLES *************** */

.aboutBgCover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
	background: url("/Images/pictwo-filter.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #e1f1f9;
}

.aboutBgCover img {
	margin-top: 5rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

.aboutBgCover .card {
	margin-top: 7rem;
	width: 26rem;
	background-color: #2a3246;
	opacity: 95%;
	text-align: center;
}

.aboutBgCover h3 {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	margin-top: 2rem 2rem 0rem 2rem;
	color: #ffe4b2;
}

.aboutBgCover h5 {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	margin-top: 1.5rem;
	margin-bottom: 4rem;
	font-weight: lighter;
	font-size: 30px;
}

#welcomeTitle h1 {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	margin-top: 18rem;
	margin-bottom: 1rem;
	font-size: 80px;
	color: #e1f1f9;
}

#welcomeTitle h3 {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	margin-bottom: 4rem;
	color: #e1f1f9;
}

.aboutBg {
	background-color: rgba(212, 199, 181, 0.707);
}

.aboutContent {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	font-weight: 200;
	font-size: 25px;
	line-height: 2rem;
	margin-top: 15px;
	padding-bottom: 10rem;
	margin: 5rem;
	cursor: pointer;
}

#aboutBookImage {
	padding: 7rem;
	background-color: #e1f1f9;
}

/* ******* END ABOUT PAGE STYLES *************** */

/******* FOOTER STYLES *****/

#footer {
	background-color: #2a3246;
	text-align: center;
	width: 100%;
	bottom: 0;
}

.p {
	color: #ffe4b2;
	font-size: 16px;
	font-weight: 200;
	padding-top: 0.5rem;
	padding-bottom: 0.1rem;
	font-family: "Josefin Sans", sans-serif;
}

.logoFooter {
	/* text-align: center; */
	padding-top: 2rem;
	align-items: left;
	/* align-self: center;
    justify-content: center; */
	margin-left: 2rem;
	margin-right: 2rem;
	padding-bottom: 2rem;
}

.footerCenter {
	text-align: center;
	/* flex: 6; */
	list-style: none;
	text-decoration: none;
	align-items: center;
	align-self: center;
}

/* .footerList {
    list-style: none;
    text-decoration: none;
    margin: 5rem;
    align-items: center;
    align-self: center;
  } */

.footerListItem {
	list-style: none;
	margin-top: 1rem;
	font-size: 18px;
	font-weight: 300;
	text-align: center;
	justify-content: center;
	cursor: pointer;
	font-family: "Josefin Sans", sans-serif;
	color: #e1f1f9;
	text-decoration: none;
}

.footerListItem:hover {
	color: #ffe4b2;
	font-family: "Josefin Sans", sans-serif;
	text-decoration: none;
}

.footerLink {
	color: #e1f1f9;
	text-decoration: none;
}

.footerLink:hover {
	color: #ffe4b2;
}

/* ******* END FOOTER STYLES *************** */

/****** HEADER STYLES ********/
.bgCover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
	background: url("/Images/dog-filter.png") no-repeat center center fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	color: #e1f1f9;
}

.bgCover img {
	margin-top: 14rem;
	padding-left: 1rem;
	padding-right: 1rem;
}

#carouselPosition {
	align-items: center;
	justify-content: center;
}

.carousel .right.carousel-control,
.left.carousel-control {
	display: none;
	opacity: 0;
	visibility: hidden;
}

#carouselCaption {
	padding-top: 6rem;
}

#carouselCaption p {
	color: #ffe4b2;
}

/*** END HEADER STYLES ****/

/*** Post Styles ****/
.posts {
	flex: 9;
	display: flex;
	flex-wrap: wrap;
	margin: 21px;
}

.singlePost {
	flex: 9;
}

.singlePostWrapper {
	padding: 20px;
	padding-right: 0;
}

.singlePostImg {
	width: 100%;
	height: 300px;
	border-radius: 5px;
	object-fit: cover;
}

.singlePostTitle {
	text-align: center;
	margin: 10px;
	font-size: 28px;
	font-family: "Lora", sans-serif;
}

.singlePostEdit {
	float: right;
	font-size: 16px;
}

.singlePostIcon {
	margin-left: 10px;
	cursor: pointer;
}

.singlePostIcon:first-child {
	color: teal;
}
.singlePostIcon:last-child {
	color: tomato;
}

.singlePostInfo {
	margin-bottom: 20px;
	display: flex;
	justify-content: space-between;
	font-size: 16px;
	color: #be9656;
	font-family: "Varela Round", Arial, Helvetica, sans-serif;
}

.singlePostAuthor {
	margin-left: 5px;
}

.singlePostDesc {
	color: #666;
	font-size: 18px;
	line-height: 25px;
}

.singlePostDesc::first-letter {
	margin-left: 20px;
	font-size: 30px;
	font-weight: 600;
}
/*** END Post Styles ****/

/*** TOPBAR Styles ****/
#root {
	background-color: rgba(192, 176, 153, 0.707);
}

#top {
	width: 100%;
	height: 160px;
	background-color: #2a3246;
	position: sticky;
	top: 0;
	display: flex;
	align-items: center;
	z-index: 999;
	font-family: "Josefin Sans", sans-serif;
	color: #e1f1f9;
}

.topLeft,
.topRight {
	flex: 3;
	display: flex;
	align-items: center;
	justify-content: center;
}

.topLeft img {
	margin-left: 2rem;
	margin-right: 2rem;
}

.topCenter {
	flex: 6;
}

.topList {
	display: flex;
	justify-content: right;
	margin: 0;
	padding: 0;
	list-style: none;
}

.topListItem {
	margin-right: 40px;
	font-size: 18px;
	font-weight: 400;
	cursor: pointer;
}

.topListItem:hover {
	color: #ffe4b2;
}

.link {
	color: #e1f1f9 !important;
	padding: 1rem;
}

.link:hover {
	color: #ffe4b2 !important;
}

.topImg {
	width: 40px;
	height: 40px;
	border-radius: 50%;
	object-fit: cover;
	margin-right: 15px;
	cursor: pointer;
}

.topSearchIcon {
	font-size: 18px;
	color: #666;
	cursor: pointer;
	margin-left: 15px;
}

#searchBar {
	background-color: #2a3246;
	display: "flex";
	padding: 9px 25px;
	position: sticky;
	top: 180px;
	align-items: flex-start;
	z-index: 1;
}

#searchInput {
	max-width: 400px;
	max-height: 40px;
	font-family: "Abel", sans-serif;
	color: #ffe4b2;
	border-color: #ffe4b2;
	border-width: 1.5px;
	border-radius: 0px;
	background-color: transparent;
}

#searchInput:hover {
	max-width: 400px;
	max-height: 40px;
	border-color: #ffe4b2;
	color: #ffe4b2;
}

#searchButton {
	border-color: transparent;
	background-color: transparent;
}

#basic-navbar-nav {
	background-color: #2a3246;
	padding: 3rem;
}

#hamburger {
	color: #ffe4b2;
	background-color: #ffe4b2;
	margin-right: 1rem;
}

/**** end topbar styles ***/


/**** Login Styles ***/

/* Top Section Background ---------------------------------- */

.signinBgCover {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: 0px;
	background: url("/Images/Mt-filter.jpg") no-repeat center center fixed;
	-webkit-background-size: cover; 
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
  }
  
  /* #signin-card {
	background-color:#2a3246;
	opacity: 90%;
	max-width: 700px;
	margin: auto;
	align-self: center;
	align-content: center;
	text-align: center;
	align-content: center;
	align-items: center important !;
	display: 'flex';
	justify-content: center;
	flex-direction: row;
	font-size: 1em;
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  } */
  
  #signinFormButton {
	margin-left: -2.5em;
	text-align: center;
	border: 0px;
	border-radius: 0%;
	background-color: #e1f1f9;
	padding: 10px 20px;
	color: #2a3246;
	font-weight: bolder;
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	font-size: 25px;
	margin-top: 2rem;
	margin-bottom: 2rem;
  }
  
  #signinFormButton:hover {
	background-color:#eec06b;
	padding: 9px 19px;
	color:#2a3246;
	font-weight: bolder;
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
  }
  
  #loginCard {
	/* background-color:#e1f1f9; */
	max-width: 700px;
	padding-top: 7rem;
	margin: 1rem;
	text-align: center;
  }
  
  #loginCard h1 {
	padding-bottom: 3rem;
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	color:#eec06b;
  }
  
  #formLabel {
	margin-bottom: 1.5rem;
	padding: 0.5rem;
	border-radius: 0%;
	opacity: 70%;
	background-color: #e1f1f9;
	max-width: 700px;
  }
  
  #formLabel:hover {
	border-width: 3px;
	border-color:#eec06b;
	background-color: white;
	opacity: 100%;
  
  }
  
  #formLabelName {
	font-family: "Josefin Sans", Arial, Helvetica, sans-serif;
	font-size: 25px;
	color: #e1f1f9;
  }




/**** end Login styles ***/
